body{
	margin:0;
	padding:0;
	background-color:#cd7f2d;
}

header{
	background-color:#fffaf4;
}

header .logotipo {
	color: #000000;
	display:block;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#testeira{
	width:100%;
	height:300px;
	display:table;
	background-color: #7c5e39;
}

#testeira img {
	display:block;
	width:50%;
	height:100%;
	margin:35px auto 35px auto;
	border-radius:20px;
}

#banho-tosa-saude {
	display:inline;
}

.sobre{
	font-family:'Kanit', sans-serif;
	margin-top:5em;
	margin-left:5em;
	margin-bottom:2em;
}

.titulo-sobre{
	text-align:center;
	font-size:30px;
	font-family: 'Kanit', sans-serif;
}

.texto-sobre{
	text-align:center;
	font-size:20px;
	font-family: 'Kanit', sans-serif;
}

.conjunto-servicos{
	width:100%;
	display:grid;
	grid-template-columns: 33% 33% 33%;
	background-color:#c59861;
	padding-top:5em;
}

.banho-tosa-saude{
	padding:20px;
	font-size:30px;
	text-align:center;
	font-family: 'Kanit', sans-serif;

}

.banho-tosa-saude img{
	width:55%;
	height:60%;
	margin:0px auto 0px auto;
}

.texto-banho-tosa-saude {
	float:left;
	width:100%;
	font-size:30px;
}

footer{
	width:100%;
	background-color:#cd7f2d;
	padding:40px, 40px, 40px, 40px;
	
}

.GIF{
	margin-top:40px;
	margin-left:40px;
	margin-bottom:40px;
	padding:10px;
	width:40%;
}

footer{
	float:left;
	width:100%;
	padding-top:40px;
}

footer h2{
	float: left;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin-left: 2em;
}

.footer{
	display:flex;
}

.Footer-Text {
	text-align: center;
	font-size: 30px;
	font-family:'Kanit', sans-serif;
	color:#fffaf4;
}

.Footer-contatos{
	font-size:20px;
	margin-left:10px;
	font-family: 'Kanit', sans-serif;
	display:flex;
	flex-direction:column;
	margin-left:5em;
}

.Footer-contatos{
	float:left;
}

.container-footer-text{
	padding:5px;
	background-color:#7c5e39;
		
}
